@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Always Remember</h1>
    <p class="lead">Always Remember is a convenient way to store and access your lists</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Check It Out!!! &raquo;</a></p>*@
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            My Lists allows you to add, edit, and delete multiple lists, as well as fully customize each list to your personal needs, including adding notes for reference of your items listed.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Check It Out!!! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@