body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* BootSnip*/

.trash {
    color: rgb(209, 91, 71);
}

.flag {
    color: rgb(248, 148, 6);
}

.panel-body {
    padding: 0px;
}

.panel-footer .pagination {
    margin: 0;
}

.panel .glyphicon, .list-group-item .glyphicon {
    margin-right: 5px;
}

.panel-body .radio, .checkbox {
    display: inline-block;
    margin: 0px;
}

.panel-body input[type=checkbox]:checked + label {
    text-decoration: line-through;
    color: rgb(128, 144, 160);
}

.list-group-item:hover, a.list-group-item:focus {
    text-decoration: none;
    background-color: rgb(245, 245, 245);
}

.list-group {
    margin-bottom: 0px;
}